{% extends "base.html" %}
{% load static %}


{% load wagtailcore_tags wagtailimages_tags %}


{% block content %}

        <!-- ======= blog part start ======= -->
    <section class="section-padding articulo-proyecto" >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- section title -->
                    <div class="title" >
                        <h3 >
                            {% if self.es_proyecto %}
                                PROYECTOS
                            {% else %}
                                NOTICIAS
                            {% endif %}
                             / <span class="capitalizado">{{ self.categoria }} </span></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 articulobody">
                    <!-- Single news -->
                    {% image self.imagen_portada original as portada %}

                    <div style="width: 100%; height: 400px; display: block; background: transparent url('{{ portada.url }}') center center no-repeat; background-size: cover;"></div>
                    <div class="nota">
                        <p style="margin: 1.5em 0 0 0; font-size: 16px;">{{self.date}}</p>
                        <h2 class="titulo">{{self.titulo}}</h2>
                        <p style="font-weight:bold;">{{ self.bajada }}</p>
                        <p class="MsoNormal" style="text-align:justify">
                            {{ self.body|richtext }}
                        </p>
                    </div>

                </div>


            {% if posts %}
                <div class="col-md-12" style="margin-top: 3em;">
                <h4 style="padding: 20px 0;">Otras Noticias</h4>
                </div>
            {%for blog in posts|slice:"1:" %}
                <div class="row">
                <div class="col-md-4">
                    <article class="news-info">
                        <div class="news-img h200">
                            <!--link a la noticia-->
                            <a href="{% pageurl blog %}">
                                {% if blog.imagen_portada %}
                                    {% image blog.imagen_portada original as image %}
                                    <img src="{{ image.url }}"  alt="{{ image.alt }}"/>
                                {% endif %}
                            </a>
                        </div>
                        <div class="news-content h200">
                            <div class="post-meta">
                                <ul>
                                    <li><a href="/noticias/">{{ blog.categoria }}</a>
                                        <br />
                                        {% if blog.date %}
                                            {{ blog.date }}
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                            <a href="{% pageurl blog %}">
                                <h2>{{blog.title}}</h2>
                            </a>
                            <p>{{ blog.intro|truncatewords:15 }}</p>
                            <a href="{% pageurl blog %}" class="donate-btn more-btn hvr-shutter-out-horizontal" >Ver Más</a>
                        </div>
                    </article>
                </div>
                </div>
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </section>

{% endblock %}