{% extends 'base.html' %}
{% load static %}


{% load wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}

    <link rel="stylesheet" type="text/css" href="{% static 'leaflet/leaflet.css' %}" >

    <style>
    .searchmap {
            padding: 7px 0 3px 50px;
    margin: 0px;
    text-align: center;
    color: white;
    background: #008996;
    font-family: unset;
    }
    </style>
{% endblock %}
{% block content %}


<a href="/como-colaborar/alianzas/" class="flotaAlianzas"><img src="{% static 'img/boton_flotante.png' %}" /></a>

 {% image self.imagen_encabezado original as img_principal %}
<div class="container" style="margin: 0px; padding: 0px; width: 100%;" >
    <div style="width: 100%; height: 400px; display: block;  background:
            transparent url('{{ img_principal.url }}') center center no-repeat; background-size: cover;">
    </div>
</div>
<div class="container-fluid" style="margin: 0px; padding: 0px; width: 100%;">
   <h2 class="col-md-9 searchmap"> Conocé las acciones a nivel local en cada una de nuestras sedes. </h2>
   <div class="col-md-3 searchmap"> - </div>

</div>
    <div id="mapid" style="height: 360px; z-index: 0"></div>

 {% image self.imagen_inferior original as img_inferior %}
    <div style="width: 100%; height: 240px; display: block; margin: 0em 0em 2em 0em; background:
            transparent url('{{ img_inferior.url }}') center center no-repeat; background-size: cover;"></div>


    {% include "covid19/slider_noticias.html" %}

    <div>
   <h2 style="text-align: end; color: #008996; font-family:'Galano Bold'"> VER MÁS NOTICIAS      </h2>
    <br>
</div>


{% endblock %}


        {% block extra_js %}
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAozUOjYgqhFVNDeK2GYfiFwdgf9zuYJfQ" async defer></script>
                    <script src="{% static 'leaflet/leaflet.js' %}"></script>
         <script src='https://unpkg.com/leaflet.gridlayer.googlemutant@latest/Leaflet.GoogleMutant.js'></script>


            <script>
            var myIcon = L.icon({
                                iconUrl: '{% static 'img/marker-icon.png' %}',
                                iconAnchor: [12, 41],
                                popupAnchor: [0, -27],
                                shadowUrl: '{% static 'img/marker-shadow.png' %}'

                            });
            var covidmap = L.map('mapid',{scrollWheelZoom: false}). setView([-33.167563, -64.118819], 6);

            </script>

            {% for institucion in instituciones %}
                <script>
                                   // create popup contents
                    //var customPopup =
                                   var customPopup = "<h3>{{institucion.title}}</h3>"
                                   var customPopup = customPopup.concat('<h4>{{institucion.institucion_direccion}}</h4>')
                                   {% for accion in institucion.acciones.all %}
                                   var customPopup = customPopup.concat('<h5>  - {{accion.descripcion}}</h4>')
                                       {% endfor %}

                    // specify popup options
                    var customOptions =
                        {
                        'maxWidth': '500',
                        'className' : 'custom'
                        }

                    L.marker([{{institucion.get_latlng}}], {icon: myIcon}).addTo(covidmap)
                        .bindPopup(customPopup,customOptions)
                    </script>
            {% endfor %}
            <script>
                var roads = L.gridLayer.googleMutant({type: 'roadmap'}).addTo(covidmap);
            </script>

        {% endblock %}