{% extends 'base.html' %}
{% load static %}


{% load wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}

    <link rel="stylesheet" type="text/css" href="{% static 'leaflet/leaflet.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'leaflet/leaflet.responsive.popup.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'leaflet/leaflet.responsive.popup.rtl.css'  %}" />


    <style>
    .searchmap {
            padding: 7px 0 3px 50px;
    margin: 0px;
    text-align: center;
    color: white;
    background: #008996;
    font-family: unset;
    }
    </style>
{% endblock %}
{% block content %}


<a href="https://www.mercadopago.com.ar/checkout/v1/modal?pref_id=486091909-93e0f562-4992-41b6-b531-837435e1b21e"
   target="_blank" rel="noopener" class="flotaAlianzas"><img src="{% static 'img/boton_flotante.png' %}" /></a>



 {% image self.imagen_encabezado original as img_principal %}


    <div class="covid-banner" style="width: 100%; display: block;
            background: transparent url('{{ img_principal.url }}') center center no-repeat; background-size: cover;"></div>

 <a href="https://www.mercadopago.com.ar/checkout/v1/modal?pref_id=486091909-93e0f562-4992-41b6-b531-837435e1b21e"
       class="quiero-donar animated fadeInDown"
       style="opacity: 1;bottom: 10%; margin-left: -4.5em; position: absolute;">
        <img src="{% static 'img/boton_flotante_xl.png' %}" />
 </a>

<div class="container-fluid" style="font-family:'Galano'; font-weight:bold; margin: 0px; padding: 0px; width: 100%;">
   <h2 class="col-md-12 searchmap"> Conocé las acciones a nivel local en cada una de nuestras sedes. </h2>


</div>
    <div  id="mapid" style="height: 360px; z-index: 0"></div>

 {% image self.imagen_inferior original as img_inferior %}
    <div class='covid-banner2' style="width: 100%; display: block; margin: 0em 0em 2em 0em; background: transparent url('{{ img_inferior.url }}') center center no-repeat; background-size: cover;"></div>

    {% include "covid19/slider_noticias.html" %}

    <div>
   <h2 style="text-align: end; color: #008996; font-family:'Galano'; font-weight:bold;" > VER MÁS NOTICIAS      </h2>
    <br>
</div>
    </div>


{% endblock %}


        {% block extra_js %}
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAozUOjYgqhFVNDeK2GYfiFwdgf9zuYJfQ" async defer></script>
                    <script src="{% static 'leaflet/leaflet.js' %}"></script>
            <script src='https://unpkg.com/leaflet.gridlayer.googlemutant@latest/Leaflet.GoogleMutant.js'></script>
            <script src="https://unpkg.com/leaflet-responsive-popup@0.6.4/leaflet.responsive.popup.js"></script>


            <script>
            var myIcon = L.icon({
                                iconUrl: '{% static 'img/marker-icon.png' %}',
                                iconAnchor: [12, 41],
                                popupAnchor: [0, -27],
                                shadowUrl: '{% static 'img/marker-shadow.png' %}'

                            });
            var covidmap = L.map('mapid',{scrollWheelZoom: false}). setView([-35.167563, -65.518819], 4);

            </script>

            {% for institucion in instituciones %}
                <script>
                                   // create popup contents
                    //var customPopup =


                                   var customPopup = "<div style='font-family:'Galano';'> <h3>{{institucion.title}}</h3>";
                                   var customPopup = customPopup.concat('<h4>{{institucion.institucion_direccion}}</h4>');
                                   var customPopup = customPopup.concat('<hr style="margin: 5px 0 5px 0;border-top: 4px solid #ffb25b;">');

                                   {% for accion in institucion.acciones.all %}
                                   var customPopup = customPopup.concat('<h5>  - {{accion.descripcion}}</h5>');
                                       {% endfor %}
                                   {% for noticia in institucion.noticias.all %}
                                       {% if forloop.counter0 == 0 %}
                                           var customPopup = customPopup.concat('<h4 style="color: #008996; padding-bottom: 1px;padding-top: 7px;">  NOTICIAS </h4>');
                                           var customPopup = customPopup.concat('<hr style="margin: 1px 0 5px 0; border-top: 2px solid #008996;">');

                                       {% endif %}
                                   var customPopup = customPopup.concat('<h4 color= #000000> {{noticia.title}}</h4>');
                                   var customPopup = customPopup.concat('<h5 color= gray> {{ noticia.intro|truncatewords:15 }}</h5>');
                                   var customPopup = customPopup.concat('<a style="font-size: smaller; color:#008996" href="{{noticia.url}}">  Ver más </a>');
                                   var customPopup = customPopup.concat('<hr style="margin: 2px 0 2px 0; border-top: 1px solid #008996;">');

                                       {% endfor %}
                                   var customPopup = customPopup.concat('</div>');




                    var popup = L.responsivePopup().setContent(customPopup);

                    L.marker([{{institucion.get_latlng}}], {icon: myIcon}).addTo(covidmap)
                        .bindPopup(popup)
                    </script>
            {% endfor %}
            <script>
                var roads = L.gridLayer.googleMutant({type: 'roadmap'}).addTo(covidmap);
            </script>

        {% endblock %}