  {% load static %}


{% load wagtailcore_tags wagtailimages_tags %}

<div class="container-fluid row">
    <div class="covid-slider owl-carousel">
        {% for noticia in posts %}
                <div class="col-md-12">
                            <!-- Single news -->
                       <article class="news-info covid-news">
                            <div class="news-img covid-img">
                                <a href="{% pageurl noticia %}">
                                    {% if noticia.imagen_portada %}
                                        {% image noticia.imagen_portada original as image %}
                                        <img src="{{ image.url }}"  style=" width: 100% !important;" alt="{{ image.alt }}"/>
                                    {% endif %}
                                </a>
                            </div>
                           <div class="news-content h200">
                               <div class="post-meta">
                                   <ul>
                                       <li><a href="/noticias/">{{ noticia.categoria }}</a>
                                           {% if noticia.date %}
                                               <br>{{ noticia.date }}
                                           {% endif %}
                                       </li>
                                   </ul>
                               </div>
                               <a href="{% pageurl noticia %}">
                                   <h2>{{noticia.title}}</h2>
                               </a>
                               <a href="{% pageurl noticia %}" >Ver Más</a>
                           </div>
                       </article>
                </div>
        {% endfor %}
                        </div>
                    </div>



