{% load static wagtailuserbar %}


<section class="parallaxo hidden-sm hidden-xs" style="background-image: url('{% static 'img/demo/quiebre.jpg' %} ');">
        <div class="container">

        <h3 class="animated fadeInUp text-center" style="font-family: Raleway, sans-serif; font-weight: 700; color: white; margin: 0px; font-size: 42px; animation-duration: 1s; animation-fill-mode: both; animation-name: fadeInUp;">“La verdadera educación<br>consiste en obtener<br>lo mejor de uno mismo”.<br><br><small style="font-size: 27.3px; color: white;">Mahatma Gandhi</small></h3>
        </div>
</section>