{% load wagtailcore_tags %}

<header class="header-area">

        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <!-- header support -->
                        <div class="top-header-info header-right">
                            <a href="mailto:info@porlosjovenes.org" class="emailtexto">info@porlosjovenes.org</a>
                            <div class="iconos"><a href="https://www.instagram.com/porlosjovenes/" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.facebook.com/porlosjovenes/" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/porlos_jovenes/" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.youtube.com/channel/UC8NsDakJ6HK2vNRfy-krP-A" target="_blank"><i class="fa fa-youtube"></i></a>
                        </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- menu area -->
        <div class="menu-area">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <!-- logo part -->
                    <div class="believed-logo">
                        <a href="/"><img src="https://porlosjovenes.org/assets/sitio/img/logo.png" alt=""></a>
                    </div>
                    <!-- mobile menu wraper -->
                    <div class="responsive-menu-wrap"><div class="slicknav_menu">
                        <a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><ul class="slicknav_nav slicknav_hidden" style="display: none;" aria-hidden="true" role="menu">

                            <li>
                                <a href="#" class="abrirbuscador" onclick="$('.buscador').toggle('fast');$('#labusca').focus();" role="menuitem" tabindex="-1">
                                <i class="fa fa-search iconobusca" style="margin: 0; padding: 0;"></i>
                            </a>
                            </li>

                            <div class="buscador" style="display: none;"><form method="POST" action="https://porlosjovenes.org/buscador/buscar"><input class="form-control" type="text" name="busqueda" placeholder="ingrese texto a buscar">
                                <button type="submit" class="btn btn-lg btn-success"><i class="fa fa-check fa-fw"></i></button>
                            </form></div>

                            <li class="slicknav_collapsed slicknav_parent"><a href="/noticias/" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="#" tabindex="-1">Noticias<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <span class="slicknav_arrow">►</span></a><ul class="drop-menu slicknav_hidden" role="menu" style="display: none;" aria-hidden="true">
                                    <li><a href="/noticias/categorias/educacion/" role="menuitem" tabindex="-1">Educación</a></li>
                                    <li><a href="/noticias/categorias/trabajo/" role="menuitem" tabindex="-1">Formación para el Trabajo</a></li>
                                    <li><a href="/noticias/categorias/pastorales/" role="menuitem" tabindex="-1">Acciones Misioneras y Pastorales</a></li>
                                    <li><a href="/noticias/categorias/comunitaria/" role="menuitem" tabindex="-1">Acciones Sociocomunitarias</a></li>
                                </ul>
                            </li>
                            <li class="slicknav_collapsed slicknav_parent">
                                <a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
                                    <a href="#" tabindex="-1">Nosotros<i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </a>
                                    <span class="slicknav_arrow">►</span>
                                </a>
                                <ul class="drop-menu slicknav_hidden" role="menu" style="display: none;" aria-hidden="true">
                                    <li><a href="/nosotros/quienes-somos/" role="menuitem" tabindex="-1">Quienes Somos</a></li>
                                    <li><a href="/nosotros/transparencia/" role="menuitem" tabindex="-1">Transparencia</a></li>
                                    <li><a href="/nosotros/donde-estamos/" role="menuitem" tabindex="-1">Dónde Estamos</a></li>
                                </ul>
                            </li>
                            <li><a href="/que-hacemos/" role="menuitem" tabindex="-1">Qué hacemos</a></li>
                            <li class="slicknav_collapsed slicknav_parent">
                                <a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
                                    <a href="#" tabindex="-1">Cómo colaborar<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <span class="slicknav_arrow">►</span></a><ul class="drop-menu slicknav_hidden" role="menu" style="display: none;" aria-hidden="true">
                                    <li><a href="/como-colaborar/quiero-donar/" role="menuitem" tabindex="-1">Quiero Donar</a></li>
                                    <li><a href="/como-colaborar/alianzas/" role="menuitem" tabindex="-1">Alianzas Institucionales</a></li>
                                    <li><a href="/como-colaborar/legado/" role="menuitem" tabindex="-1">Legados</a></li>
                                    <li><a href="/como-colaborar/ayuda-difundiendo/" role="menuitem" tabindex="-1">Ayudá Difundiendo</a></li>
                                </ul>
                            </li>
                            <li><a href="/carrera/" role="menuitem" tabindex="-1">Carrera</a></li>
                            <li><a href="/app/" role="menuitem" tabindex="-1">App</a></li>
                        </ul></div></div>
                </div>
                <div class="col-md-10">
                    <!-- menu part -->
                    <nav class="main-menu">
                        <ul class="navigation">

                            <li><a href="#" class="abrirbuscador" onclick="$('.buscador').toggle('fast');$('#labusca').focus();"><i class="fa fa-search iconobusca" style="margin: 0; padding: 0;"></i></a></li>

                            <div class="buscador" style="display: none;"><form method="POST" action="https://porlosjovenes.org/buscador/buscar"><input class="form-control" type="text" id="labusca" name="busqueda" placeholder="ingrese texto a buscar">
                                <button type="submit" class="btn btn-lg btn-success"><i class="fa fa-check fa-fw"></i></button>
                            </form></div>

                            <li><a href="/noticias/">Noticias<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <ul class="drop-menu">
                                    <li><a href="/noticias/categorias/educacion">Educación</a></li>
                                    <li><a href="/noticias/categorias/trabajo">Formación para el Trabajo</a></li>
                                    <li><a href="/noticias/categorias/pastorales">Acciones Misioneras y Pastorales</a></li>
                                    <li><a href="/noticias/categorias/comunitaria">Acciones Sociocomunitarias</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Nosotros<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <ul class="drop-menu">
                                    <li><a href="/nosotros/quienes-somos/" role="menuitem" tabindex="-1">Quienes Somos</a></li>
                                    <li><a href="/nosotros/transparencia/" role="menuitem" tabindex="-1">Transparencia</a></li>
                                    <li><a href="/nosotros/donde-estamos/" role="menuitem" tabindex="-1">Dónde Estamos</a></li>

                                </ul>
                            </li>
                            <li><a href="/que-hacemos/">Qué hacemos</a></li>
                            <li><a href="#">Cómo colaborar<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <ul class="drop-menu">
                                    <li><a href="/como-colaborar/quiero-donar/">Quiero Donar</a></li>
                                    <li><a href="/como-colaborar/alianzas/">Alianzas Institucionales</a></li>
                                    <li><a href="/como-colaborar/legado/">Legados</a></li>
                                    <li><a href="/como-colaborar/ayuda-difundiendo/">Ayudá Difundiendo</a></li>
                                </ul>
                            </li>
                            <li><a href="/carrera/">Carrera</a></li>
                            <li><a href="/app/">App</a></li>
                        </ul>
                            <a href="/como-colaborar/quiero-donar/" class="boton-donar" style="position: absolute; right: 0;">Quiero Donar</a>
                    </nav>
                </div>
            </div>
        </div>
        </div>

  </header>
