{% load wagtailcore_tags %}
{% load static %}
<header class="header-area" >

        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <!-- header support -->
                        <div class="top-header-info header-right">
                            <a href="mailto:info@porlosjovenes.org" class="emailtexto">info@porlosjovenes.org</a>
                            <div class="iconos"><a href="https://www.instagram.com/porlosjovenes/" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.facebook.com/porlosjovenes/" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/porlos_jovenes/" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.youtube.com/channel/UC8NsDakJ6HK2vNRfy-krP-A" target="_blank"><i class="fa fa-youtube"></i></a>
                            <a href="https://www.linkedin.com/company/por-los-jovenes/" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- menu area -->
        <div class="menu-area">
            <div class="container-fluid">
                <div class="row" style="width: 100%; margin: 0px;">
                    <div class="col-md-2" style="padding: 0px 0px 0px 10px;">
                        <!-- logo part -->
                        <div class="believed-logo" style="width: 100%">
                            <a href="/"><img src="{% static 'img/logo_cortado.png' %}" alt=""></a>
                            <a href="/quierodonar-covid-19/?utm_source=web&utm_medium=botonCTA&utm_campaign=-"
                               class="boton-donar responsive"
                               style="">Quiero Donar
                            </a>


                        </div>
                            <!-- mobile menu wraper -->

                        <div class="responsive-menu-wrap" style="z-index: 200;"></div>
                    </div>
                    <div class="col-md-10" >
                        <!-- menu part -->
                        <nav class="main-menu">
                            <ul class="navigation" style="text-align: center";>

                                <li><a href="#" class="abrirbuscador"   onClick="$('.buscador').toggle('fast');$('#labusca').focus();">
                                    <i class="fa fa-search iconobusca" style="margin: 0; padding: 0;">

                                    </i>
                                </a></li>

                                <div class="buscador" style="display: none;">
                                    <form method="POST" action="/search/">

                                        <input class="form-control" type="text" id="labusca" name="busqueda" placeholder="ingrese texto a buscar" />
                                    <button type="submit" class="btn btn-lg btn-success"><i class="fa fa-check fa-fw"></i></button>
                                      {% csrf_token %}
                                    </form>
                                </div>

                                <li
                                        {% if self.url == '/emergencia-covid-19/' %} class="active"{% endif %}>
                                    <a href="/emergencia-covid-19/" style="border-radius: 8%; background-color: #ffb25b ">Emergencia Covid 19</a>
                                </li>


                                <li {% if self.url == '/noticias/' %} class="active"{% endif %}
                                >
                                  <a href="/noticias/">Noticias<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                    <ul class="drop-menu">
                                        <li><a href="/noticias/categorias/educacion">Educación</a></li>
                                        <li><a href="/noticias/categorias/trabajo">Formación para el trabajo</a></li>
                                        <li><a href="/noticias/categorias/pastorales">Acciones Misioneras y Pastorales</a></li>
                                        <li><a href="/noticias/categorias/comunitaria">Acciones Sociocomunitarias</a></li>
                                    </ul>
                                </li>
                                <li
                                        {% if   self.url == '/nosotros/quienes-somos/' %} class="active"
                                        {% elif self.url == '/nosotros/transparencia/' %} class="active"
                                        {% elif self.url == '/nosotros/donde-estamos/' %} class="active"
                                        {% endif %}
                                ><a href="#">Nosotros<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                    <ul class="drop-menu">
                                    <li><a href="/nosotros/quienes-somos/" role="menuitem" tabindex="-1">Quienes Somos</a></li>
                                    <li><a href="/nosotros/transparencia/" role="menuitem" tabindex="-1">Transparencia</a></li>
                                    <li><a href="/nosotros/donde-estamos/" role="menuitem" tabindex="-1">Dónde Estamos</a></li>
                                    </ul>
                                </li>
                                <li
                                        {% if self.url == '/que-hacemos/' %} class="active"{% endif %}
                                >
                                    <a href="/que-hacemos/">Qué hacemos</a></li>
                                <li
                                        {% if   self.url == '/quierodonar/' %} class="active"
                                        {% elif self.url == '/como-colaborar/alianzas/' %} class="active"
                                        {% elif self.url == '/como-colaborar/legado/' %} class="active"
                                        {% elif self.url == '/como-colaborar/ayuda-difundiendo/' %} class="active"
                                        {% endif %}
                                >
                                <a href="#">Cómo colaborar<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                    <ul class="drop-menu">
                                        <li><a href="/quierodonar/">Quiero Donar</a></li>
                                        <li><a href="/como-colaborar/alianzas/">Alianzas Institucionales</a></li>
                                        <li><a href="/como-colaborar/legado/">Legados</a></li>
                                        <li><a href="/como-colaborar/ayuda-difundiendo/">Ayudá Difundiendo</a></li>
                                    </ul>
                                </li>
                                <li
                                        {% if self.url == '/carrera/' %} class="active"{% endif %}
                                ><a href="/carrera/">Carrera</a></li>
                                {% comment %}
                                <li
                                        {% if self.url == '/app/' %} class="active"{% endif %}>
                                    <a href="/app/">App</a>
                                </li>
                                 {% endcomment %}
                                <li>
                                     <a href="/quierodonar-covid-19/?utm_source=web&utm_medium=botonCTA&utm_campaign=-"
                                        class="boton-donar"
                                        id="quiero-donar"
                                        style="margin: 8px 0px 0px 7px; font-weight: 700;
                                         height: 10px !important; padding: 12px 7px 34px 7px; color: white"
                                     >Quiero Donar</a>

                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>

{#        {% if self.url == '/carrera/' %}#}
{#            {% if Eventos %}#}
{#                <div class="menucarrera hidden-xs hidden-sm">#}
{#                        <a onClick="scrollToDiv('#inscribite');">INSCRIBITE</a>#}
{#                        <a onClick="scrollToDiv('#informacion');">INFORMACIÓN</a>#}
{#                        <a onClick="scrollToDiv('#kit');">KIT</a>#}
{#                        <a onClick="scrollToDiv('#mapa');">MAPA</a>#}
{#                        <a onClick="scrollToDiv('#sumarse');">POR QUÉ SUMARSE</a>#}
{#                        <a onClick="scrollToDiv('#anteriores');">EDICIONES ANTERIORES</a>#}
{#                </div>#}
{#            {% endif %}#}
{#        {% endif %}#}

            </div>

        </div>

        <!-- menu area -->


</header>
