  {% load static %}


{% load wagtailcore_tags wagtailimages_tags %}

    <section class="blog-area section-padding" style="padding-bottom: 2em;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <!-- section title -->
                    <div class="title">
                        <h2>Noticias</h2>
                    </div>
                </div>
            </div>
            <div class="row hidden-sm hidden-xs">
                    <div class="col-md-9">
                    </div>
                     <div class="col-md-3 textoCeleste">
                       <a href="/noticias/"> VER MÁS NOTICIAS > </a>
                     </div>
            </div> 
            <div class="hidden-md hidden-lg"> 
                <div class="col-md-9">
                    </div>
                     <div class="col-md-3 textoCelesteSmall">
                        <a href="/noticias/" > VER MÁS NOTICIAS ></a>
                    </div>

            </div>
            <div class="row">
               {% for noticia in posts %}
                   {% if forloop.counter == 1 %}

                <div class="col-md-6">
                    <!-- Single news -->
                    <article class="news-info">
                        <div class="news-img h400">
                            <a href="{% pageurl noticia %}">
                                {% if noticia.imagen_portada %}
                                    {% image noticia.imagen_portada original as image %}
                                    <img src="{{ image.url }}"  alt="{{ image.alt }}"/>
                                {% endif %}
                            </a>
                        </div>
                        <div class="news-content h200">
                            <div class="post-meta">
                                <ul>
                                    <li><a href="/noticias/">{{ noticia.categoria }}</a>
                                        <br />
                                        {% if noticia.date %}
                                            {{ noticia.date }}
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                            <a href="{% pageurl noticia %}">
                                <h2>{{noticia.title}}</h2>
                            </a>
                            <p>{{ noticia.intro|truncatewords:15 }}</p>
                            <a href="{% pageurl noticia %}" >Ver Más</a>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <div class="row">
             {% endif %}
             {% if forloop.counter > 1 %}
                        <div class="col-md-6">
                            <!-- Single news -->
                           <article class="news-info">
                                <div class="news-img h200">
                                    <a href="{% pageurl noticia %}">
                                        {% if noticia.imagen_portada %}
                                            {% image noticia.imagen_portada original as image %}
                                            <img src="{{ image.url }}"  alt="{{ image.alt }}"/>
                                        {% endif %}
                                    </a>
                                </div>
                               <div class="news-content h200">
                                   <div class="post-meta">
                                       <ul>
                                           <li><a href="/noticias/">{{ noticia.categoria }}</a>
                                               {% if noticia.date %}
                                                   <br>{{ noticia.date }}
                                               {% endif %}
                                           </li>
                                       </ul>
                                   </div>
                                   <a href="{% pageurl noticia %}">
                                       <h2>{{noticia.title}}</h2>
                                   </a>
                                   <a href="{% pageurl noticia %}" >Ver Más</a>
                               </div>
                           </article>
                        </div>
             {% endif %}
            {% endfor %}

                        <div class="col-md-12">

                            <!-- Single news -->
                            <div class="publicidad" style="width: 100%; background: transparent">
                                <a href="{{ self.banner_url }}" target="_blank">
                                    {% image self.banner_imagen original as img_banner %}
                                    <img src= "{{img_banner.url }}" class="img-responsive" style="width: 100%"/>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="quehacemosHome hidden-lg hidden-md" style="margin-bottom: 4em;">
                <div class="title" style="text-align: center; width: 100%; margin-top: 2em;">
                    <h2>Qué Hacemos</h2>
                </div>
                <div class="row">
                    <div class="col-xs-6" style="padding: 0 5px 0 15px;">
                        <a href="/proyectos/categorias/educacion" class="educacion">
                            <img src="https://porlosjovenes.org/assets/sitio/img/i_educacion_blanco.png">
                            Educación
                        </a>
                    </div>
                    <div class="col-xs-6" style="padding: 0 15px 0 5px;">
                        <a href="/proyectos/categorias/formacion" class="formacion">
                            <img src="https://porlosjovenes.org/assets/sitio/img/i_formacion_blanco.png">
                            Formación para el trabajo
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6" style="padding: 0 5px 0 15px;">
                        <a href="/proyectos/categorias/comunitaria" class="comunitaria">
                            <img src="https://porlosjovenes.org/assets/sitio/img/i_acciones_blanco.png">
                            Acciones Socio Comunitarias
                        </a>
                    </div>
                    <div class="col-xs-6" style="padding: 0 15px 0 5px;">
                        <a href="/proyectos/categorias/pastoral" class="pastoral">
                            <img src="https://porlosjovenes.org/assets/sitio/img/i_misioneras_blanco.png">
                            Acciones Misioneras y Pastorales
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
