
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}




    <!-- ======= slider part start ======= -->
    <section class="slider-area">
        <div class="slider-wraper owl-carousel" id="slider_plj">
            {% for imagen in self.slider_home.all %}
            {% image imagen.image original  as tmp_img %}

                <div href="{{ imagen.url_boton }}"  class="single-slider slider-one" style="background: url({{ tmp_img.url }})">
                    <div class="slider-table">
                        <div class="slider-table-cell" style="cursor: pointer;">
                            <div class="container">
                                <!-- single slider content -->
                                <div class="slider-info" style="height: 60vh; text-align: center;">
                                    <!-- texto -->
                                {% if imagen.message %}
                                    <div class="container" style="position: absolute; left: 0; right: 0;
                                    bottom: 0;letter-spacing: 0px !important; font-family: Raleway; opacity: 1;
                                    text-shadow: black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px; color: white;">
                                        {{ imagen.message|richtext }}
                                     <!-- si boton apareceboton-->
                                    </div>
                                {% endif %}
                                {% if imagen.boton %}
                                    <br>
                                    <a href="{{ imagen.url_boton }}" class="boton-donar animated fadeInDown"
                                   style="font-size: 16px; opacity: 1;bottom: 25%; margin-left: -4.5em; position: absolute;">{{ imagen.text_boton }}</a>
                                {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <!-- ======= slider part end ======= -->
