{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
{% if self.imagen_encabezado  %}
           {% image self.imagen_encabezado original as img_encabezado %}

     <section class="slider-area">
        <div class="slider-wraper owl-carousel">

                <div class="single-slider slider-one" style="height:390px;background: url('{{ img_encabezado.url }}'); ">
                    <div class="slider-table">
                        <div class="slider-table-cell">
                            <div class="container">
                                <!-- single slider content -->
                                <div class="slider-info" style="height: 60vh; text-align: center;">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>
{% endif %}


<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- section title -->
                <div class="title">
                    <h3>QUIERO DONAR</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <!-- Single news -->
                 {{self.texto_encabezado|richtext }}
                <div class="text-center" style="margin: 2em 0;">
                    <a mp-mode="dftl" href="https://www.mercadopago.com.ar/checkout/v1/redirect?pref_id=486091909-93e0f562-4992-41b6-b531-837435e1b21e"
                   class='blue-ar-l-sq-arall boton_mp_mobile' ><img src="{% static 'img/boton_flotante_xl_ML.png' %}" /></a>
                    <button class="botondonar seleccion" data-form="1">Quiero Colaborar</button>
                    <button href="#" data-form="2" class="botondonar">Quiero aumentar mi colaboración</button>
                </div>
                <iframe src="{{ self.url_donar }}" style="height: 1050px; width: 100%; border:0;" id="frameI"></iframe>
                <iframe src="{{ self.url_aumentar }}" style="height: 1050px; width: 100%; border:0; display: none;" id="frameII"></iframe>
            </div>
            <div class="col-md-3">
                <div style="text-align: center">
                <a mp-mode="dftl" href="https://www.mercadopago.com.ar/checkout/v1/redirect?pref_id=486091909-93e0f562-4992-41b6-b531-837435e1b21e"
                   class='blue-ar-l-sq-arall boton_mp_web' ><img src="{% static 'img/boton_flotante_xl_ML.png' %}" /></a>
                {% image self.imagen_principal original as img %}
                </div>
                <img src='{{ img.url }}' style="width: 100%; ">
                <!-- Single news -->
                <div class="otrasformas">
                    <h3 style="font-family: Raleway, sans-serif; font-weight: 700; color: rgb(58, 58, 58); margin: 1.5em 0px; text-align: center;">Otras formas de colaborar</h3>
                    <dl style="margin: 1.75em 0px; color: rgb(119, 119, 119); font-family: raleway, roboto, arial, serif; font-size: 14px;">
                        <dt style="line-height: 1.42857; margin-bottom: 10px; margin-top: 20px;">Depósito o transferencia bancaria:</dt>
                        <dd style="line-height: 1.42857; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px dotted rgb(221, 221, 221);">FRANCÉS&nbsp;<br>Cta. Cte. 165 6068-0&nbsp;<br>CBU 0170165020000000606806</dd>
                        <dd style="line-height: 1.42857; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px dotted rgb(221, 221, 221);">GALICIA&nbsp;<br>Cta. Cte. 16309-5 007-0&nbsp;<br>CBU 00700078-20000016309504</dd>
                        <dd style="line-height: 1.42857; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px dotted rgb(221, 221, 221);">SANTANDER RÍO&nbsp;<br>Cta. Cte. 055-016553-4&nbsp;<br>CBU 0720055720000001655340</dd>
                        <dd style="line-height: 1.42857; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px dotted rgb(221, 221, 221);">
                            SANTANDER RÍO&nbsp;<br>Cta. Cte. U$S 055-016717-2&nbsp;<br>CBU 0720055721000001671723</dd>
                        <dt style="line-height: 1.42857; margin-bottom: 10px; margin-top: 20px;">Pago mis cuentas:</dt><dd style="line-height: 1.42857; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px dotted rgb(221, 221, 221);">Rubro 'Donaciones'<br>Empresa 'ObraDonBosco'</dd>
                    </dl>
                    <a href="https://www.pagomiscuentas.com/" target="_blank">
                        <img src="https://pagomiscuentas.com/sites/all/themes/pmcbotondepagopublico_theme/logo.png" style="width: 100%; ">
                    </a>
                </div>

                <div style="line-height: 1.42857;
                            margin-bottom: 10px;
                            margin-top: 20px;
                            color: rgb(119, 119, 119);
                            text-align: center;
                            font-family: raleway, roboto, arial, serif;
                            ">
                    <p style="font-family: raleway, roboto, arial, cursive; text-align: center !important;">Entidad sin fines de lucro</p>
                    <p style="font-family: raleway, roboto, arial, cursive; text-align: center !important;">CUIT 30-61017160-1</p>
                    <p style="font-family: raleway, roboto, arial, cursive; text-align: center !important;"> Certificado de Exención en el Impuesto a las Ganancias Nº 04620200046981</p>
                </div>
            </div>
        </div>
        <br>
    </div>
</section>
{%  endblock %}

{% block extra_js %}
    <script type="text/javascript">
        (function(){function $MPC_load(){window.$MPC_loaded !== true && (function(){
            var s = document.createElement("script");s.type = "text/javascript";
            s.async = true;s.src = document.location.protocol+"//secure.mlstatic.com/mptools/render.js";
            var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);
            window.$MPC_loaded = true;})();
        }window.$MPC_loaded !== true ? (window.attachEvent ?window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null;})();
    </script>

    {# Override this in templates to add extra javascript #}
    <script>
        ga(function(tracker) {
          // Gets the client ID of the default tracker.
          var clientId = tracker.get('clientId');

          // Gets a reference to the window object of the destionation iframe.
          var frameWindow_1 = document.getElementById('frameI').contentWindow;
          var frameWindow_2 = document.getElementById('frameI').contentWindow;

          // Sends the client ID to the window inside the destination frame.
          frameWindow_1.postMessage(clientId, '{{ self.url_donar }}');
          frameWindow_2.postMessage(clientId, '{{ self.url_aumentar }}');
        });
    </script>

{% endblock %}