body {
    font-family: raleway, roboto, arial, serif;
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: initial;
}

section p {
    text-align: justify;
}

.believed-logo img {
    width: 221px;
    padding-top: 0px;
    margin-top: 33px;
    margin-left: 42px;
">
}
@media (max-width: 991px) {
    .menucarrera {
    width: 100%;
    background: #0097a5;
    text-align: center;
    padding: 5px;
    z-index: 2000;
    }
}

@media (max-width: 780px) {
    .believed-logo img {
        width: 132px;
        height: 50px;
        margin-top: 7px;
        margin-left: 0;
    }
}


.believed-logo {
    padding: 0;
}
.header-area {
    height: 195px;
}

@media (max-width: 780px) {
    .header-area {
    height: 100px;
}

    }

#sticky-wrapper {
        padding-top: 34px;
}


.top-header-area {
font-size: 17px;
    font-weight: bold;
    padding: 5px 0;
    background: #4c5259;
    position: fixed;
     z-index: 200;
    width: 100%;
}

.top-header-area a{
    font-size: 15px;
    text-transform: lowercase;
    font-weight: 500;
}

.top-header-area a i{
    font-size: 19px;vertical-align: middle;
}

.top-header-info a {
	margin-right: 10px;
}

.top-header-info a:hover {
	color: #0097a5;
}

.main-menu {
    text-align: left;
    margin: 34px 80px 50px 0;
}

.donate-box {
    margin-top: 60px;
}
.main-menu ul li a {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
}

.main-menu ul li ul.drop-menu li a {
    background-color: rgba(237, 237, 237, 0.9);
    color: black !important;
    transition: 0.5s all;
     text-transform: initial;
    font-weight: 400;
}

.main-menu ul li ul.drop-menu li a:hover {
    background-color: rgba(0, 151, 161, 0.9);
    color: white;
}

.donate-btn {
    font-weight: 400;
    font-size: 14px;
    border-radius: 5px;
}



.news-content h2 {
color: #000000;
    font-size: 26px;
    margin: 16px 0;
    text-transform: initial;
    letter-spacing: 0px;
    transition: 0.4s all;
}
.news-content h2:hover {
    color: #0097a5;
}

p {
    letter-spacing: 0;
}

.news-info {
    background: #EEE;
}
.news-info .news-content {
    padding: 15px;
}
.news-content a.donate-btn {
    background: transparent;
    color: #0097a5;
    padding: 0;
    letter-spacing: 0;
    font-size: 17px;
    font-weight: 400;
}

.footer-area {
    background-color: #4d5159;
    color: white;
    margin-top: -15px;
}

.footer-area .titulo {
    font-size: 25px;
    margin: 0.5em;
    text-transform: uppercase;
}
.footer-area .titulo p {
    margin: 0;font-size: 22px;
    font-weight: 500;
}
.footer-area .titulo p img {
    margin-left: 0.5em;
}

.footer-area .detalle {
    font-size: 17px;
    font-weight: 100;
    margin: 1.25em;
    text-transform: uppercase;
}
.footer-area .detalle p {
    font-weight: 500;
    text-transform: initial;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}
.footer-area .medio {
    font-family: Roboto;
    font-size: 18px;
}
.footer-area .medio p {
    margin: 0;
}
.footer-area .medio small{
    font-size: 11px;
    vertical-align: middle;
}
.footer-area .medio small input {
    margin-right: 5px;
    vertical-align: middle;
}

@media (max-width: 600px) {


.news-content h2 {
    word-break: break-word;
}

  .footer-area .titulo p{
        margin: 0;
        font-size: 15px;
        font-weight: 400;
    }

    .footer-area .detalle p{
         font-weight: 400;
        text-transform: initial;
        font-size: 14px !important;
        font-family: 'Montserrat', sans-serif;
    }

}

.single-slider {
        background-size: cover !important;
     background-position: center center !important;
}

.slider-table-cell::before {
    background-color: rgba(0, 0, 0, .15);
}

.slider-table {
    height: 75vh;
}

.slider-info h3 {
    color: #FFF;
   text-shadow: 0 0 5px black;
   margin-left: 15%;
}
.slider-info h2 {
    letter-spacing: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family:  Raleway;
    opacity: 1;
    text-shadow: black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px;
    color: white;
   text-transform: initial !important;
    left: 0px;
    right: 0px;
}

.slider-table-cell .container {
    position: relative;
}

.title h2, .title h3 {
    text-transform: uppercase;
}
.title h2::after {
border: 0;
} 


.title h2::before {
margin-bottom: 10px;
} 


.title h2 {
color: black;
} 


.title h3 {
   padding: 0 0 12px 0;
} 
.title {
   padding-bottom: 20px;
} 
.title h3::after {
    content:"";
    border-bottom: 2px solid #0097a5;
    display: block;
    width: 50px;
    margin-top: 0.5em;
} 

.recuadro {
    margin: 2em 0;
    border: 1.5px solid #337ab7;
    padding: 20px;
}

h2 {
    text-transform: initial;
    font-weight: 600;
    font-size: 22px;
    margin: 0.5em 0 1em 0;
}

p {
    font-size: 16px;
}

.quehacemos {
    background: #EEE;
    margin: 0.5em;
    text-align:justify;
    padding: 2em;
    line-height: 24px;
}
.quehacemos.t1 { border-top: 8px solid #709044; }
.quehacemos.t2 { border-top: 8px solid #F3714A; }
.quehacemos.t3 { border-top: 8px solid #007D96; }
.quehacemos.t4 { border-top: 8px solid #FAA953; }

.quehacemos .subtitulo { text-align: center; font-size: 20px; font-weight: bold; margin: 1em 0 1.5em 0; color: black; }
.quehacemos .subtitulo img { margin-bottom: 15px; }
.quehacemos .boton { display: block; margin: 1.5em 0 1em 0; text-align: center; }
.quehacemos .boton a { display: inline-block; padding: 5px 15px; color: white; background: #0097a5; font-size: 130%;}

.panel-default { border: 0; }
.panel-default .panel-heading {     padding: 15px 0;
    background: white;
}
.panel-default .panel-heading h4 {    
    border: 0;
    font-size: 26px;
    color: black;
    text-transform: initial; 
     font-size: 20px;
    font-weight: 400;}
.panel-default .panel-heading h4 a:active, .panel-default .panel-heading h4 a:focus, .panel-default .panel-heading h4 a:hover    {
    color: #0097a5 !important;
}

.recuadroceleste {
    border: 2px solid #0097a5;
    padding: 35px 65px;
    margin: 80px 0 30px 0;
   
    text-align: center;
    border-radius: 1.5em;



}
.recuadroceleste p {
    font-size: 24px;
    line-height: 28px;
}

.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f068";
    padding-right: 5px;
}
.panel-title > a.collapsed:before {
    float: right !important;
    content:"\f067";
}
.panel-title > a:hover, 
.panel-title > a:active, 
.panel-title > a:focus  {
    text-decoration:none;
}

.botondonar {
    border: 3px solid #0097a5;
    border-radius: 10px;
    padding: 15px;
    font-size: 16px;
    color: #0097a5;
    background: white;
}
.botondonar.seleccion {
    border: 3px solid #0097a5;
    background: #0097a5;
    color:white;
}

.otrasformas {
    background: #EEE;
    padding: 15px;

}
.otrasformas h3 {
    margin: 1.5em 0;
    text-align: center;
}
.otrasformas dl {
    margin: 1.75em 0;
}
.otrasformas dl dt {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}
.otrasformas dl dd {
    font-weight: 400;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #DDD;
    font-family: 'Montserrat', sans-serif;
}

.fixed-menu {

     height: 155px;
    padding-top: 24px;
}

.fixed-menu 
.believed-logo {
    margin-top: 15px;
}

.fixed-menu .main-menu {
    margin: 35px 80px 20px 0;
}
.fixed-menu .believed-logo img {
    width: 160px;
    height: 60px;
    margin-top: 10px;
}
.fixed-menu .donate-box {
    margin-top: 35px;
}
.sticky-wrapper.is-sticky {
   height: 150px;
}

/*.fixear { position: fixed; z-index: 3000; }*/

.post-date-info {
    padding: 2px 10px;
}
.post-date-info span {
    line-height: 24px;
}

.capitalizado {
    text-transform: initial !important;
}

.main-menu > ul > li.active {
    border-bottom: 2px solid #0097a5;
}

.embed-container { position: relative; padding-bottom:56.25%; height:0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

.carrera-inscribite {
    background: #b90f36; 
    text-align: center;
    padding: 10px 0 30px 0;
    color: white;
}
.carrera-inscribite .rich-text h1,
.carrera-inscribite .rich-text h2,
.carrera-inscribite .rich-text h3,
.carrera-inscribite .rich-text h4,
.carrera-inscribite .rich-text h5,
.carrera-inscribite .rich-text h6 {
    color: white;
}
.carrera-inscribite h2 {
    color: #feca5c;
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 0;
    margin-bottom: 10px;
}
.carrera-inscribite .recuadro2 {
    background: #f37259;
    padding: 15px;
    margin-bottom: 10px;
    color: #feca5c;
    font-size: 40px;
    border: 0;
    border-radius: 5px;
    line-height: 66px;
    font-weight: 700;
    font-family: arial;
}
.carrera-inscribite .recuadro2 span {
    color: white;
    font-family: Montserrat, Roboto;
    display: inline-block;
    margin-right: 20px;
    font-weight: 700;
}
.carrera-inscribite h2::before {
    border: 0 !important;
}

.titulinho {
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 20px;
}
.carrera-informacion {
    background: #0097a4; 
    text-align: center;
    padding: 10px 0 50px 0;
}
.carrera-informacion p {
    color: white; 
}
.carrera-informacion h2 {
        color: #FFF;
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 0;
    margin-bottom: 25px;
}
.carrera-informacion h2::before {
    border: 0 !important;
}

.carrera-inscribite p {
    font-size: 20px;
    line-height: 38px;
    text-align: center;
}

.carrera-informacion a {
    background: #f37259;
    padding: 14px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 25px;
    border: 0;
    border-radius: 5px;
    line-height: 36px;
    font-weight: 700;
    font-family: arial;
    text-transform: uppercase;
    margin-right: 10px;
}
.carrera-kit {
    text-align: center;
    padding: 10px 0 50px 0;
}
.carrera-kit p {
    color: #f78059; 
    font-size: 24px;
    padding-top: 10px;
    margin-bottom: 40px;
}
.carrera-kit h2 {
        color: #b90f36;
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 0;
    margin-bottom: 10px;
}
.carrera-kit h2::before {
    border: 0 !important;
}

.carrera-kit a {
    background: #f37259;
    padding: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 32px;
    border: 0;
    border-radius: 5px;
    line-height: 36px;
    font-weight: 700;
    font-family: arial;
    text-transform: uppercase;
    margin-right: 10px;
}


.carrera-sponsors {
    text-align: center;
    padding: 10px 0 50px 0;
}
.carrera-sponsors p {
    color: #f78059; 
    font-size: 24px;
    padding-top: 10px;
    margin-bottom: 40px;
}
.carrera-sponsors h2 {
        color: #b90f36;
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 0;
    margin-bottom: 10px;
}
.carrera-sponsors h2::before {
    border: 0 !important;
}




.app-descarga {
    background: #f37259; 
    text-align: center;
    padding: 50px 0 10px 0;
}
.app-descarga h2 strong {
}

.app-descarga h2 {
        color: #FFF;
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 0;
    margin-bottom: 25px;
    font-weight: 300;
    text-transform: uppercase;
}
.app-descarga h2::before {
    border: 0 !important;
}

.app-main {
    padding: 40px 0;
}
.app-main 
    p {
       color: black;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
}


.app-informacion {
    text-align: center;
    padding: 10px 0 50px 0;
}
.app-informacion p {
    font-size: 16px;
    padding-top: 10px;

}
.app-informacion h2 {
        color: #0097a4;
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 0;
    margin-bottom: 40px;
}
.app-informacion .redondear img{
    border-radius: 50%;
    width: 100%;
}
.app-informacion h3 {
   margin: 30px 0 20px;
}

.app-informacion h2::before {
    border: 0 !important;
}

.app-informacion a {
    color: #0097a4;
}



 .parallaxo { background-position: center center; background-repeat: no-repeat; background-attachment: fixed; background-size: cover; height: 400px;padding: 120px; }
 .parallaxo h3{
    font-size: 42px;
    color: white;
 }


.news-img {
    overflow: hidden;
}
.news-img.h100 {
  height: 100px;
}
.news-img.h200 {
  height: 200px;
}
.news-img.h400 {
  height: 360px;
}
.news-content.h200 {
  min-height: 200px;
}
.news-content.h300 {
  min-height: 300px;
}

.paginador {
    font-size: 20px;
    text-align: center;
    display: block;

     margin: 0.5em 0 1.5em 0;
}
.paginador a {
    margin: 0 15px; 
}
.paginador strong {
    margin: 0;
    font-size: 1.3em;
    color: #0098a5;
    background: #EEE;
    padding: 0.1em 0.5em 0.25em;
    border-radius: 0.3em;
}
.textoCeleste  {
        margin: -4.5em 0 2em;
    text-align: right;
}
.textoCeleste a {
    font-size: 20px;
    font-weight: 700;
    color: #0097a5;
}

.textoCeleste a:hover{
    color: #666;
}

.donate-btn:hover {
    border-radius: 5px !important;
    background-color: white !important;
    color:#0097a5 !important;
}

.hvr-shutter-out-horizontal:before {
    border-radius: 5px !important;
    background-color: white !important;
    color:#0097a5 !important;
}

.owl-carousel .owl-item {

}

.owl-carousel .owl-item img{
    width: 80% !important;
}

.boton-donar {
    background: #0097a5;
    border-radius: 5px;
    box-shadow: 0 0 4px black;
    border: 2px solid #0097a5;
    transition: 0.35s all;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.75em 1.25em;
    color: white;
}
.boton-donar:hover {
   background: white;
   color: #0097a5; 
}

.proyectos-seccion.comunitaria .news-info {   border-top: 4px solid #007D96;   }
.proyectos-seccion.trabajo .news-info {   border-top: 4px solid #F3714A;   }
.proyectos-seccion.educacion .news-info {   border-top: 4px solid #709044;   }
.proyectos-seccion.pastorales .news-info {   border-top: 4px solid #FAA953;   }

.articulo-proyecto .nota { background: #EEE; margin: 2em 0; padding: 1em; }

.articulo-proyecto.comunitaria .nota { border-top: 5px solid #007D96; }
.articulo-proyecto.trabajo .nota { border-top: 5px solid #F3714A; }
.articulo-proyecto.educacion .nota { border-top: 5px solid #709044; }
.articulo-proyecto.pastorales .nota { border-top: 5px solid #FAA953; }

.menucarrera {
    width: 100%;
    background: #0097a5;
    text-align: center;
    padding: 5px;
    z-index: 2000;
}
.menucarrera a {
    padding: 0px 26px;
    color: white;
    display: inline-block;
    border-right: 1px solid white;
    line-height: 18px;
    cursor: pointer;
    font-size: 16px;
}
.menucarrera a:last-child {
    border-right: 0;
}

.inscribiteSinRemera {
    background: #feca5c;
    padding: 5px;
    color: #b90f36;
    font-size: 18px;
    border: 0;
    font-weight: 600;
    font-family: arial;
    margin-top: 30px;
}



.emailtexto { margin-right: 50px; }
    .iconos { float: none; display: inline-block; }

.flotador {
     background:#777B82; position: relative; padding: 10px 0;
}
.flota {
     background:#97999F; position: absolute; top: 0; left: 0; height: 100%; width: 38%;
}

.sinEspacioDerecho > div {
    padding-right: 2px;
}

.marginar { margin-top: 10px; margin-bottom: 10px; }
.sliderResponsive {
     height: 300px;
}

.responsive50 {
    height: 60vh !important;
}

.flotaAlianzas {
    position: fixed; top: 75%; z-index: 50000; right: 20px;
}

@media  (max-width: 600px) {
h2 {
    font-size: 1.8em !important;
}

.botondonar { display: block; margin-bottom: 5px; width: 100%; }

.flotaAlianzas {
    position: fixed; top: 68%; z-index: 50000; right: 12px;
}
.quehacemosHome .row {
    margin: 0;
}

.sinEspacioDerecho > div {
    padding-right: 15px;
}


.sliderResponsive {
     height: 140px;
}
.responsive50 {
     height: 140px;
}

    .flota {
         width: 100%; height: 30%;
    }

.marginar { margin-top: 10px; margin-bottom: 30px; }

    .quehacemosHome a {
        background: #EEE;
        color: white;
        text-align: center;
        padding: 16px;
        min-height: 140px;

        display: flex;
          justify-content: center;
          flex-direction: column;
          text-align: center;
          margin-bottom: 10px;
          line-height: 13px;

    }
    .quehacemosHome a img {
        display: block;
        height: 40px;
        max-width: auto !important;
        margin: 0 auto 8px auto;
    }

    .quehacemosHome a.educacion { background: #709044; }
    .quehacemosHome a.trabajo { background: #F3714A; }
    .quehacemosHome a.comunitaria { background: #007D96; }
    .quehacemosHome a.pastoral { background: #FAA953; }


    .top-header-info a { margin-right: 2px; }
    .emailtexto { margin-right: 0px; float: left; }
    .iconos { float: right; }
    .top-header-info { margin-bottom: 0; }
    .top-header-info .container { padding: 0 3px; }


.parallaxo {
    padding: 20px 10px;
}
.parallaxo h3 {
    font-size: 30px !important;
}

.h400, .h200, .h100 { height: auto !important; }

.emailtexto { 
    font-size: 11px !important;
    line-height: 26px  !important; 
}

.menucarrera { display: none !important; }

.carrera-informacion a {
    margin-bottom: 1em; display: block;
}
}

.footerContacto{
    font-size: 12px !important;
}

@media  (max-width: 600px) {
    .footerContacto{
        font-size: 10px !important;
    }
}


.textoCelesteSmall  {
     text-align: right;
     margin-bottom: 1em;
     margin-top: 1em;
}
.textoCelesteSmall a {
    font-size: 12px;
    font-weight: 400;
    color: #0097a5;
}

.textoCelesteSmall a:hover{
    color: #666;
}


@media  (max-width: 600px) {
    .recuadroceleste {
        border: 2px solid #0097a5;
        padding: 5px 5px;
        margin: 10px 0 10px 0;
       
        text-align: center;
        border-radius: 1.5em;
    }
    .recuadroceleste p {
        font-size: 10px;
       /* line-height: 28px;*/
    }
}

@media  (max-width: 600px) {
.app-descarga h2 {
       font-size: 16px !important;
    margin-top: 26px !important;
}
    .carrera-inscribite .recuadro2 {
        padding: .2em;
        font-size: 3em;
        line-height: 1em;

         margin-top: 17px;
        margin-bottom: 0;
    }

    .app-descarga {
        background: #f37259; 
        text-align: center;
        padding: 30px 0 15px 0;
    }

    .app-descarga .title{
        padding-bottom: 0;
    }

    .app-main {
        padding: 3px 0;
    }

    .app-main p{
        font-size: 15px !important;
    }

    .app-main img{
        width: 50% !important;
    }

    .slicknav_nav{
        background: rgba(237, 237, 237, 0.9) none repeat scroll 0 0 !important;
       
    }

    .slicknav_nav a{
         color: black !important;
    }

    .slicknav_nav li:hover{
        background: #0097a5 !important;
         color: black !important;
    }
}

.articulobody ul {
    margin: 1em 2em;
}
.articulobody h2 {
    margin: 1em 0 0.5em 0;
    font-size: 1.6em;
    color: #0097a5;
}
.articulobody h2.titulo {
   margin: 0.25em 0 0 0;
   font-size: 2em;
    color: #000;
}

.bajadaBuscador {
    font-size: 14px;
    line-height: 18px;
    margin: 1em 0;
}

.buscador {
    position: absolute;
        top: 102px;
    background: #0097a5;
    padding: 5px;
    display: inline-block;
}
.buscador button {
    border-radius: 0;
        margin-top: -2px;
}
.buscador input {
    margin: 0;
    width: 200px;
    display: inline-block;
}


@media  (max-width: 600px) {
.iconobusca{
    display: inline-block !important;
}
.buscador {
    position: initial;
    background: transparent;
    padding: 0px;
    width: 100%;
    display: block;
    margin: 0 3%;
}
.buscador button {
    border-radius: 0;
        margin-top: -2px;
}
.buscador input {
    margin: 0;
    width: 200px;
    display: inline-block;
}

}

.legado {
    text-align: justify;
}

@media all and (max-width: 400px) {
    .legado {
        text-align: left;
    }
}
