{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Resultados de la busqueda{% endblock %}

{% block content %}
        <!-- ======= blog part start ======= -->
    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- section title -->
                    <div class="title">
                        <h3>Resultados para la búsqueda</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                {% if search_results.object_list %}
                   {% for blog in search_results.object_list %}
                     {% if forloop.counter0|divisibleby:4 %}
                            </div> <div class="row">
                        {% endif %}
                        <div class="col-md-3">
                            <!-- Single news -->
                            <article class="news-info">
                                <div class="news-img h200">
                                <!--link a la noticia-->
                                    <a href="{% pageurl blog %}">
                                        {% if blog.specific.imagen_portada %}
                                            {% image blog.specific.imagen_portada original as image %}
                                            <img src="{{ image.url }}"  alt="{{ image.alt }}"/>
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="news-content h200">
                                    <div class="post-meta">
                                        <ul>
                                            <li><a href="/noticias/">{{ blog.specific.get_cat_description }}</a>
                                                <br />
                                                {% if blog.specific.date %}
                                                    {{ blog.specific.date }}
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="{% pageurl blog %}">
                                        <h2>{{blog.specific.title}}</h2>
                                    </a>
                                    <p>{{ blog.specific.intro|truncatewords:15 }}</p>
                                    <a href="{% pageurl blog %}" >Ver Más</a>
                                </div>
                            </article>
                        </div>
                 {% endfor %}
                </div>
                    {% if search_results.paginator.num_pages > 1 %}
                        <div class="container text-center">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="pagination">
                                {% if search_results.has_previous %}
                                  <li class="page-item">
                                    <a href="?page={{ search_results.previous_page_number }}" class="page-link">
                                      <span>&laquo;</span>
                                    </a>
                                  </li>
                                {% endif %}

                                {% for page_num in search_results.paginator.page_range %}
                                    <!-- Active page -->
                                    {% if num == page_obj.number %}
                                        <li class="page-item active">
                                            <a class="page-link" href="#">{{ page_num }}<span class="sr-only">(Actual)</span></a>
                                        </li>

                                    {% else %}
                                        <li class="page-item">
                                            <!-- For the 1st page we do not use ?page=1 -->
                                            {% if page_num == 1 %}
                                                <a class="page-link" href="{{ profiles_1st_page_url }}">{{ page_num }}</a>

                                            {% else %}
                                                <!-- Show current page and +-3 pages -->
                                                {% if page_num|add:"-3" <= page_obj.number and page_obj.number <= page_num|add:"3" %}
                                                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>

                                                <!-- Shows every 10th page and the last page -->
                                                {% elif num|divisibleby:"10" or page_num == page_obj.paginator.num_pages %}
                                                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                                                {% endif %}

                                            {% endif %}
                                        </li>
                                    {% endif %}

                                {% endfor %}


                                {% if search_results.has_next %}
                                  <li class="page-item">
                                    <a href="?page={{ search_results.next_page_number }}" class="page-link">
                                      <span>&raquo;</span>
                                    </a>
                                  </li>
                                {% endif %}
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endif %}

            {% elif search_query %}
                    <p >No hay artículos en esta sección aún.</p>
            {% endif %}



        </div>
    </section>


{% endblock %}
