{% extends "wagtailadmin/login.html" %}

{% block extra_js %}
    <script src='https://www.google.com/recaptcha/api.js'></script>

{% endblock %}

                {% block extra_fields %}
                <li class="full" style="margin-left: 1px; margin-top: 25px;" >

                    <div class="field iconfield">
                        {{ form.captcha.label_tag }}
                        <div class="input icon-password">
                            {{ form.captcha }}
                        </div>
                    </div>

                </li>
                {% endblock extra_fields %}