

/*		Video Responsive
------------------------------------------------------------  */

button, html, input, select, textarea {
    font-family: Galano, roboto, arial, serif !important;
    color: black;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 80%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInUp {
  animation-name: fadeInUp;
}
.video-responsive {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
    }

.video-responsive iframe, .video-responsive object, .video-responsive embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    }


/* Blog list view */
.blog-tags>li {
  border-right: 1px solid rgba(0,0,0,0.1);
  font-size: 0.9em;
  margin-left: -6px;
  padding: 4px 18px;
  text-transform: uppercase;
}
.blog-tags>li:first-child {
  margin-left: 0;
  border-left: 1px solid rgba(0,0,0,0.1);
}
.blog-tags>li:hover {
  background-color: rgba(0,0,0,0.1);
}

.blog-list li {
  list-style: none;
}
.blog-list .col {
  background-color: white;
}

@media (min-width: 1025px) {
.blog-list li:first-of-type, .blogpage-listing li:first-of-type,
.blog-list li:nth-child(6), .blogpage-listing li:nth-child(6),
.blog-list li:nth-child(7), .blogpage-listing li:nth-child(7),
.blog-list li:nth-child(12), .blogpage-listing li:nth-child(12) {
      width: 50%;
    }
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: green!important;
}

.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 255, 0, 0.25)
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: #C8FFC8;
}

.blog-list-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.li .blog-list-item {
background-color: white;
}

.blog-list-item a {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.blog-list-item:hover img {
    opacity: 0.3;
}

.blog-list-item .image {
  overflow: hidden;
  background-color: #eb7400;
  flex: 1 0 auto;
}

.blog-list-item .image img {
  min-height: 510px;
  width: auto;
  min-width: 100%;
}

.blog-list-item .text {
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 23%,rgba(0,0,0,1) 50%);
  margin-top: -150px;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.blog-list-item .text h2 {
  color: #fff;
  font-weight: 200;
  margin-top: 0;
}

.blog-list-item .text p {
  color: #e3e3e3;
  font-size: 0.8em;
  margin-bottom: 0;
}

.blog-list-item .footer {
  background-color: #333;
  color: #fff;
  margin-top: 0;
  padding: 20px;
  position: relative;
  z-index: 1;
}

/* used to style tags on blog */
span.outline {
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.1);
  font-size: 0.8em;
  padding: 3px 6px;
  text-transform: uppercase;
}

/* Blog detail page */
.blog-meta {
    margin-top: -40px;
    margin-bottom: 20px;
}
.blog-avatar {
    border-radius: 100%;
    display: inline;
    width: unset;
}
.blog-avatars {
    margin-bottom: 20px;
}
.blog-avatars .author {
  display: inline-block;
  margin-right: 30px;
}


/*Slider*/

 * {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin:0;
}

.contenedor-slider {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.slider {
  display:flex;
  height: 100%;
  width: 400%; /*Cambiar el ancho de acuerdo a la cantidad de imágenes, por ejm 10 imagenes = 1000%*/
}

.slider__section {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider__contenido{
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  text-align: center;
}
.slider__img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.btn-prev, .btn-next {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  font-family: monospace;
  cursor: pointer;
  z-index:200;
}

.btn-prev:hover, .btn-next:hover {
  background: white;
}

.btn-prev {
  left: 10px;
}

.btn-next {
  right: 10px;
}

@media only screen and (max-width:768px) {
    .carousel-control {
        display: none;
    }
}

@media only screen and (min-width:768px) {

    .whatsapp {
        display: none;
    }
}


.covid {
    background: #ffb25b;
    border-radius: 9%;
    color: white !important;
    font-weight: bold !important;
    width: auto;
}

.covid-news {
    background: none !important;
}
.covid-img {
    padding: 10px;
    height: 200px;
}
.covid-img img {
    width: 100% !important;
}

.boton_mp_mobile {
    display: none;
}

.boton_mp_web {
    display: inline;
}

.leaflet-popup-content-wrapper h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Galano';
}


@media only screen and (max-width: 990px) {
    .boton_mp_mobile {
        display: block;
    }

    .boton_mp_web {
        display: none;
    }
}

.page-item {
    border-color: #0097A5 !important;

}

.page-link.active {
    background-color: #0097A5 !important;
    border-color: #0097A5 !important;
    color: #ffffff !important;
}

.page-link {
    border-color: #0097A5 !important;
    color:  #0097A5 !important;
}


.footer-area {
    background-color: #4d5159;
}

.footer-taxes {
    text-align: center;
    background: #97999F;
    padding: 0px;
}

.footer-donbosco {
    background: #777b82;
    font-size: 25px;
    text-transform: uppercase;
}

.footer-end {
    background: #4d5159;
}

.footer-taxes p {
    font-size: medium;
    margin: 6px;
}

.formulario-marco {
    color: #333;
    width: 425px;
    border: 1px solid;
    border-color: azure;
    border-radius: 1%;
    align-content: end;
    min-height: 470px;
    background: rgb(255, 255, 255, 0.7);
    margin-bottom: 15px;
    margin-top: 10px;
    margin-right: 5%;
}

.donacion-titulo {
    padding: 6px;
}


.donacion-seccion {
    border-bottom: 1px solid;
    border-color: white;
    padding: 5px 0px;
    font-size: small;
}

.donacion-media-seccion {
    padding: 8px 0px;
}

.donacion-nota {
    font-size: smaller;
    width: 100%;
    padding: 5px;
    margin-bottom: 0px;
}

.recibo-nota {
    font-size: 12px;
    width: 100%;
    padding: 5px;
    margin-bottom: 0px;
}

.redondear-derecha {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.redondear-izquierda {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.radio-inline {
    padding-right: 0px;
}

.logo-fpago {
    width: 90px;
    margin-left: 10px;
    position: relative;
    top: -4px;
}

.fpago-propio-debito {
    width: 105px;
}
.fpago-propio-credito {
    width: 120px;
}


.boton-paso {
    margin: 8px 0px 0px 7px;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    height: 10px !important;
    padding: 0px 7px 26px 7px;
    color: white;
    width: 19%;
    background: #0097a5;
    border-radius: 5px;
    box-shadow: 0 0 1px black;
    border: 2px solid #0097a5;
    transition: 0.35s all;
    display: inline-block;
    text-transform: uppercase;
}

.boton-paso:hover {
   background: white;
   color: #0097a5 !important;
}
.boton-donacion {
    margin: 8px 0px 0px 7px;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    height: 10px !important;
    padding: 3px 7px 29px 7px;
    color: white;
    width: 22%;
    background: #0097a5;
    border-radius: 5px;
    box-shadow: 0 0 1px black;
    border: 2px solid #0097a5;
    transition: 0.35s all;
    display: inline-block;
    text-transform: uppercase;
}
.boton-selected {
   background: #00464c !important;
   border: 2px solid #00464c !important;
   color: white !important;
}

.boton-selected#otrovalor {
    background: white !important;
    color: #00464c !important;
    font-weight: 600;
}

.boton-donacion:hover {
   background: white;
   color: #0097a5 !important;
}


.boton-selected:hover {
    color: white !important;
}


.boton-paso.mercadopago {
    color: #0097a5 !important;
}

#tipodonacion {
        margin: 0;
        text-align: center;
        width: 100%;
    }

.montos {

}

.opt-fpago {
    margin: 4px 0px;
    font-weight: 400;
    float: none;
}

.botonera {
    text-align: center;
    margin-bottom: 12px;
    margin-top: 6px;
}

.otro-monto-add {
    padding: 2px 1px; top: 0px;
    font-size: 12px;
}


.tipo-donacion {
    margin: 0px 10px;
    height: 91px;
    font-size: small;
}
.tipo-moneda {
    font-size: 11px;
    padding: 5px;
    width: 60%;
}
#aumenta-auto {
    position: relative;
    top: 2px;
    margin-right: 5px;
    font-size: 12px;
}
.otro-monto {
    margin-left: 20px;
    width: 156px;
}
.otro-monto input {
    padding: 2px 6px;
    height: auto;
}
.nota-aumento {
    padding: 5px 0px;
    font-size: 11px;
    margin-left: 4px;
}
.forma-pago {
    font-size: small;
}
.soy-donante {
    margin: 5px 10px 0px 10px;
}
.datos-cobro {
    height: 110px;
    font-size: small;
}
.boton-logo {
    width: 60% !important;
    background: white;
    color:#0097a5;
    padding-bottom: 23px;
    padding-top: 4px;
}
.mercadopago {
    width: 60% !important;
    background: white;
    color:#0097a5;
    padding-bottom: 24px;
    padding-top: 3px;
}

.logo-fpago-finish {
    width: 35%;
    position: relative;
    top: -1px;
    margin-left: 5px;
}

.footer-paso {
    text-align: center;
    margin-top: 16px;
}

#tipodonante {
    padding-bottom: 10px;
    font-size: small;
}

.botonera-pasos {
    text-align: center;
    height: 40px;
}


.nota-piedonacion {
    font-size: small;
    text-align: center;
    margin: 10px 5px;
}
.logo-tarjeta {
    width: 25px;
    position: relative;
    top: 10px;
}
.donacion-progress {
    height: 20px;
    width: 90%;
    border-radius: unset;
}

.boton-paso#otrasformas {
    width: 70%;
    font-size: 12px;
    padding: 0px 7px 19px 7px;
    margin-bottom: 5px;
}
progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg,
	                           transparent 33%, rgba(0, 0, 0, .1) 33%,
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top,
	                           rgba(255, 255, 255, .25),
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
.grupo-campos {
    margin-top: 10px;
    height: 320px;
    font-size: small;
}

.campo {
    font-size: 12px;
    padding: 2px 4px;
}

.contenedor-campo {
    margin: 8px 0px;
    padding-right: 0px;
}

.campo-icon {
    display: table-cell;
    padding: 4px 6px;
    top: 0px;
}
.requerido {
    border: 1px solid #f26649;
}

.requiere-comprobante {
    padding: 1px 12px;
}

.completo {
    border: 1px solid #1190a2;
}

.progress-title{
    font-size: 18px;
    font-weight: 700;
    color: #1c2647;
    margin: 0 0 10px;
}
.progress{
    height: 20px;
    background: #fff;
    border-radius: 4px;
    position: relative;
    border: 1px solid #1190a2;

}
.progress:before,
.progress:after{
    content: "";
    width: 5px;
    background: #1c2647;
    position: absolute;
    top: 0;
    left: -5px;
    bottom: 0;
}
.progress:after{
    left: auto;
    right: -5px;
}
.progress .progress-bar{
    border: none;
    box-shadow: none;
    -webkit-animation: 2s linear 0s normal none infinite running progress-bar-stripes,animate-positive 1s;
    animation: 2s linear 0s normal none infinite running progress-bar-stripes,animate-positive 1s;
}
@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive{
    0%{ width: 0; }
}

.progress-bar-pjl {
  background-color: #1190a2;
}
.progress-striped .progress-bar-plj {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.campo-icon-desktop {
    display: none;
}

.modal-content {
    opacity: 0.9 !important;
    min-height: 356px;
    width: 415px;
    margin: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.modal-title {
    text-align: left;
    background: #1190a2;
    color: white;
    font-family: Galano;
    font-size: 16px;
    padding: 12px;
}

.modal-header {
    padding: 0px;
    height: 46px;
}

.modal-header button{
    position: relative;
    top: -32px;
    right: 20px;
    font-size: 22px;
    font-weight: 600;
}
.linea_separador {
    margin: 0 0 4px 0;
    color: black;
}
.otros_bancos {
    text-align: left;
}

.otro_datos_banco {
    height: 18px;
}
.otros_pmc {
    margin: 0;
}

.alerta {
    font-size: 11px;
    position: relative;
    color: red;
    height: 0;
}

.falta_tdonante {
    top: -7px;
    left: -1px;
}
.falta_frecuencia {
    top: -12px;
    right: -5px;
}
.falta_fpago {
    top:-7px;
}
.falta_monto {
    top: -10px;
    right: -6px;
}
.falta_datosdonante {
    top: -12px;
    right: -14px;

}

.falta_datosbancarios {
    top: -12px;
    right: -14px;
}

.falta_condiciones {
    top: -6px;
    right: -19px;
}

.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/static/img/loading.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}

.paypal-container {
    height: 40px;
    width: 100px;
    display: inline-block;
    position: relative;
    bottom: 0;
    top: 20px;
}

.encabezado-agradecimiento {
    text-align: center;
    font-size: 22px;
    padding: 20px;
    padding-top: 30px;
    font-weight: 300;
    color: #1190a2;
}

.texto-agradecimiento {
    text-align: center;
    padding: 0 50px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}

.wrapper_background {
    margin-bottom: 10px;
    height: 530px;
}

.marco-agradecimiento {
    border: 1px solid;
    width: 400px;
    margin: auto;
    background: white;
    opacity: 90%;
    border-radius: 12px;
    margin-top: 100px;
    height: 250px;
}

.encabezado-agradecimiento .rich-text p {
    font-size: 30px;
    margin: -15px;
}

@media only screen and (max-width: 640px) {

    .marco-agradecimiento {
        width: 400px;
    }
}



@media only screen and (max-width: 450px) {

    .modal-content {
        font-size: 10px;
        width: 100%;
        min-height: 370px;
    }

    modal-body {
    position: relative;
    padding: 15px;
    height: 222px;
    font-size: 11px;
    }

    .footer-taxes p {
    font-size: small;
    margin: 10px;
    }

    .marco-agradecimiento {
        border: 0px solid;
        width: 100%;
        margin: auto;
        background: white;
        opacity: 100%;
        border-radius: 0px;
        height: 250px;
    }
    .wrapper_background {
        margin-bottom: 10px;
        height: auto;
    }

    #genero.input-group {
        display: inline-flex;
    }

    .texto-agradecimiento {
    text-align: center;
    padding: 10px 50px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    }
    .formulario-marco {
        width: 100%;
        border: 0 solid;
        border-color: white;
        border-radius: 0;
        align-content: end;
        min-height: 470px;
        background: rgb(255, 255, 255);
        margin-bottom: 0;
        margin-top: 0;
        margin-right: 0;
    }
    .tipo-donacion {
        height: 130px;
    }

    #tipodonacion {
        text-align: left;
        width: auto;
        margin: auto;
    }
    #tipodonacion label{
        display: block;
        margin-left: 10px;
    }
    #forma_pago {
        text-align: left;
        width: auto;
        margin: auto;
    }
    .opt-fpago {
        display: block !important;
        margin-left: 10px;
    }
    .boton-donacion {
        display: block;
        width: 75%;
        margin: auto;
        margin-bottom: 6px;
        padding: 3px 7px 29px 7px;
    }
    .boton-paso {
            padding: 1px 7px 25px 7px;
    }

    .boton-paso#otrasformas {
        width: 85%;
        font-size: 12px;
        padding: 1px 5px 18px 5px;
        margin-bottom: 5px;
    }

    #nota_moneda {
        text-align: center;
        font-size: 11px;
        margin: auto;
        width: 100%;
    }
    .otro-monto {
        padding-right: 0;
        float: none;
    /* align-items: center; */
        margin: auto;
    }
    .contenedor-campo {
        padding-right: 15px;
        padding-left: 15px !important;
    }
    .campo-icon {
        display: table-cell;
        padding: 4px;
        top: 0;
    }
    .campo-icon-desktop {
        display: table-cell;
    }
    .grupo-campos {
        height: 420px;
    }
    .campo-option {
        margin: auto;
        display: inline-flex;
    }
    .campo-option label {
        display: block;
        font-size: small;
    }
    .redondear-derecha {
        border-radius: 4px;
    }
    .redondear-izquierda {
        border-radius: 4px;
    }
    #nombre {
        margin-right: 15px;
    }
    #apellido {
        margin-right: 14px;
    }
    #cpostal {
       right: 0;
    }
    #encabezado_responsive {
            width: 100%;
            background-size: cover;
            display: block !important;
            height: 160px;
    }

    .boton-paso.mercadopago {
        color: #0097a5 !important;
        font-size: 12px;
        padding: 4px 7px 23px 7px;
    }

}







.hide-step {
    display: none !important;
}

