{% extends 'base.html' %}
{% load static %}


{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

 {% image self.imagen_encabezado original as img_principal %}
    <div class="container" style="width: 100%; display: block;
            background: transparent url('{{ img_principal.url }}') center center no-repeat; background-size: cover;">
        <div class="row" style="margin-bottom: 10px;">
            <div class="formulario-marco pull-right">
                <div class="paso-uno" id="paso1">
                    <div class="soy-donante ">
                        <div class=" donacion-seccion container-fluid">
                            <div id="tipodonante">
                              <div class="col-xs-6">YA SOY DONANTE
                                </div>
                                    <label class="col-md-2 radio-inline" >
                                        <input type="radio" name="optdonante" id="sidonante" >Si
                                    </label>
                                    <label class="col-md-3 radio-inline" >
                                        <input type="radio" name="optdonante" id="nodonante" checked>No
                                    </label>

                            </div>
                        </div>
                    </div>
                    <div class="tipo-donacion donacion-seccion ">
                        <div class="container-fluid" >
                        <div class="donacion-titulo">QUIERO DONAR</div>
                                <div class="input-group"     style="margin: auto;"  id="tipodonacion">
                                    <label class="radio-inline" >
                                        <input type="radio" name="optdonacion" id="dona-mensual" checked>Mensual
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optdonacion" id="dona-unica">Por única vez
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optdonacion" id="dona-aumento">Aumentar mi donación
                                    </label>
                                </div>
                                <div>
                                    <input type="checkbox" style="font-size: smaller; margin:0" name="chkautoaumento" id="aumenta-auto"> Acepto aumentar la donación un 40% anualmente
                                </div>

                        </div>
                    </div>
                    <div class="forma-pago">
                        <div class=" container-fluid">
                            <div class="donacion-titulo">SELECCIONAR FORMA DE PAGO</div>
                            <div class="col-md-12">
                                <div class="input-group" id="forma_pago">
                                    <label class="col-md-6 opt-fpago">
                                        <input id="fpago-credito" type="radio" name="optfpago" checked><img class="logo-fpago" src="{% static 'img/mpago_tarjeta_de_credito.png' %}" alt="Tarjeta de Credito"  title="Tarjeta de Credito">
                                    </label>
                                    <label class="col-md-6 opt-fpago">
                                        <input id="fpago-debito" type="radio" name="optfpago"><img class="logo-fpago" src="{% static 'img/mpago_debito_en_cuenta.png' %}" alt="Debito en Cuenta"  title="Debito Cuenta">
                                    </label>
                                    <label class="col-md-6 opt-fpago">
                                        <input id="fpago-paypal" type="radio" name="optfpago"><img class="logo-fpago" src="https://logodownload.org/wp-content/uploads/2014/10/paypal-logo-4.png" alt="Paypal"  title="Paypal Logo">
                                    </label>
                                    <label class="col-md-6 opt-fpago">
                                        <input id="fpago-mercadopago" type="radio" name="optfpago"><img class="logo-fpago" src="https://www.mercadopago.com/org-img/Manual/ManualMP/imgs/isologoHorizontal.png" alt="MercadoPago">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="montos">
                        <div class=" donacion-seccion container-fluid"     style="font-size: small;">
                            <div class="col-md-12 botonera" id="valores-pesos">
                                <a href="#" class="boton-donacion" id="id_2700" >$ 2700</a>
                                <a href="#" class="boton-donacion" id="id_1994">$ 1994</a>
                                <a href="#" class="boton-donacion" id="id_810">$ 810</a>
                                <a href="#" class="boton-donacion" id="id_450">$ 700</a>
                            </div>
                            <div class="col-md-12 botonera hide-step" id="valores-dolares">
                                <a href="#" class="boton-donacion" id="id_2700">u$s 50</a>
                                <a href="#" class="boton-donacion" id="id_1994">u$s 25</a>
                                <a href="#" class="boton-donacion" id="id_810">u$s 10</a>
                                <a href="#" class="boton-donacion" id="id_450">u$s 5</a>
                            </div>
                            <div class="col-md-4 otro-monto" style="padding-right: 0">
                                <div class="input-group ">
                                    <span class="input-group-addon" style="padding: 6px; top: 0px;" id="simbolo-moneda"> $ </span>
                                    <input type="text" name="nombre" class="form-control input-sm " placeholder="Otro Monto" style="height: auto" />
                                    <span class="input-group-addon" style="padding: 6px; top: 0px;" id="basic-addon4"> .00 </span>
                                </div>
                            </div>
                            <div class="col-md-8 tipo-moneda" style="padding-right: 0" id="nota_moneda">*Montos en PESOS ARGENTINOS (ARS)
                            </div>
                            <div class="col-md-12 hide-step">
                                <p id='nota-aumento' class="donacion-nota">*El valor indicador es el importe al que deseo llevar mi donación</p>
                            </div>

                        </div>
                    </div>
                    <div class="botonera-pasos">
                        <div class="col-md-12">
                            <a href="#" class="boton-paso" id='to_2' style="width: 30%" >SIGUIENTE</a>
                        </div>
                    </div>
                    <div class="footer-paso">
                        <div class="col-md-12">
                            <div class="progress">
                                <div class="progress-bar progress-bar-pjl progress-bar-striped active" style="width:33%;"></div>
                            </div>
                            <div class="col-md-12">
                                <a href="#" class="boton-paso" style="width: 60%" id="otrasformas" >OTRAS FORMAS DE COLABORAR</a>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="paso-dos" id="paso2">
                    <div class="datos-persona container-fluid grupo-campos">
                    <div class="col-md-12 contenedor-campo" style="text-align: left">
                        TUS DATOS DE CONTACTO
                    </div>
                        <div >
                        <div id="nombre" class="col-md-6 contenedor-campo" >
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-user campo" style="padding: 6px; top: 0px;" id="basic-addon1"></span>
                                <input type="text" name="nombre" class="form-control input-sm campo" placeholder="Nombre"  style="height: auto" />
                            </div>
                        </div>

                        <div id="apellido" class="col-md-6 contenedor-campo redondear-derecha" style="padding-left: 0; margin-bottom: 0">
                            <div class="input-group redondear-derecha" style="margin-bottom: 10px;">
                                <span class="input-group-addon glyphicon glyphicon-user campo campo-icon" style="padding: 6px; top: 0px;" id="basic-addon1"></span>
                                <input type="text" name="apellido" class="form-control input-sm campo redondear-derecha"
                                       placeholder="Apellido"  style="height: auto; margin-bottom: 0px;" />
                            </div>
                        </div>

                    </div>
                        <div id="documento" class="col-md-5 contenedor-campo">
                            <div class="input-group redondear-derecha">
                                <span class="input-group-addon glyphicon glyphicon-credit-card campo" style="padding: 6px; top: 0px;" id="basic-addon1"></span>
                                <input type="text" name="documento" class="form-control input-sm redondear-derecha campo" placeholder="DNI" style="height: auto" />
                            </div>
                        </div>
                        <div id='genero' class="col-md-6 contenedor-campo  " >
                            <div class="input-group campo-option" style="border: 0px !important" >
                                <label class="radio-inline campo ">
                                    <input type="radio" name="optradio" checked>Femenino
                                </label>
                                <label class="radio-inline campo">
                                    <input type="radio" name="optradio">Masculino
                                </label>
                            </div>
                        </div>
                        <div id='email' class="col-md-8 contenedor-campo ">
                            <div class="input-group redondear-derecha">
                                <span class="input-group-addon glyphicon glyphicon-envelope campo" style="padding: 6px; top: 0px;" id="basic-addon1"></span>
                                <input type="text" name="email" class="form-control input-sm redondear-derecha campo" placeholder="E-mail" style="height: auto" />
                            </div>
                        </div>
                        <div id='direccion' class="col-md-8 contenedor-campo" >
                            <div class="input-group redondear-derecha">
                                <span class="input-group-addon glyphicon glyphicon-globe campo" style="padding: 6px; top: 0px;" id="basic-addon1"></span>
                                <input type="text" name="direccion" class="form-control input-sm campo" placeholder="Direccion" style="height: auto" />
                            </div>
                        </div>
                        <div id='codigopostal' class="col-md-4 contenedor-campo redondear-derecha" style="padding-left: 0; ">
                            <div class="input-group redondear-derecha">
                                <span class="input-group-addon glyphicon glyphicon-user campo campo-icon" style="padding: 6px; top: 0px;" id="basic-addon1"></span>
                                <input type="text" name="cpostal" class="form-control input-sm redondear-derecha campo" placeholder="Cód. Postal" style="margin-bottom: 0;height: auto" />
                            </div>
                        </div>
                        <div id="pais" class="col-md-8 contenedor-campo redondear-derecha">
                            <div class="input-group redondear-derecha">
                                <span class="input-group-addon glyphicon glyphicon-globe campo" style="padding: 6px; top: 0px;" id="basic-addon1"></span>
                                <input type="text" name="pais" class="form-control input-sm redondear-derecha campo" placeholder="País" style="height: auto" />
                            </div>
                        </div>
                        <div id='nacimiento' class="col-md-5 contenedor-campo redondear-derecha">
                            <div class="input-group redondear-derecha">
                                <span class="input-group-addon glyphicon glyphicon-calendar campo" style="padding: 6px; top: 0px;" id="basic-addon1"></span>
                                <input type="text" name="fnacimiento" class="form-control input-sm redondear-derecha campo" placeholder="Fecha de nacimiento" style="height: auto" />
                            </div>
                        </div>
                        <div id='telefono' class="col-md-5 contenedor-campo redondear-derecha">
                            <div class="input-group redondear-derecha">
                                <span class="input-group-addon glyphicon glyphicon-earphone campo" style="padding: 6px; top: 0px;" id="basic-addon1"></span>
                                <input type="text" name="telefono" class="form-control input-sm redondear-derecha campo" placeholder="5491112341234" style="height: auto" />
                            </div>
                        </div>
                    </div>

                    <div class="botonera-pasos" style="margin: 16px 0px">
                        <div class="col-md-12">
                            <a href="#" class="boton-paso" id='back_1' style="width: 30%">VOLVER</a>
                            <a href="#" class="boton-paso" id='to_3' style="width: 30%" >SIGUIENTE</a>
                        </div>
                    </div>
                    <div class="footer-paso"  style="height: 30px; margin: 16px 0px">
                        <div class="col-md-12">
                            <div class="progress">
                        <div class="progress-bar progress-bar-pjl progress-bar-striped active" style="width:66%;"></div>
                                </div>
                        </div>
                    </div>
                </div>



                <div class="paso-tres" id="paso3">
                    <div class="datos-cobro" >
                        <div class=" donacion-seccion container-fluid">
                            <div class="container-fluid contenedor-campo">
                                TUS DATOS PARA LA DONACION:
                            </div>
                            <div class="col-md-8 contenedor-campo">
                                <div class="input-group">
                                    <span class="input-group-addon glyphicon glyphicon-credit-card campo" style="padding: 6px; top: 0px;" id="basic-addon1"></span>
                                    <input type="text" name="email" id='credit-card' class="form-control input-sm redondear-derecha campo" placeholder="1234123412341234" style="height: auto" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="requiere-comprobante">
                        <div class="donacion-seccion container-fluid">
                            <div class="col-md-12" >
                                <input type="checkbox" style="font-size: smaller" id="chkrecibo"
                                       name="chkrecibo">Quiero que me envien recibo de mi donación.
                                <p class="recibo-nota"> Si sos empresa, solicitá tu recibo a
                                    <strong>info@porlosjovenes.org </strong> informando el CUIT</p>
                            </div>
                        </div>
                    </div>
                     <div class="botonera-pasos">
                         <div class="col-md-12" style="margin: 25px 0;">
                            <a href="#" class="boton-paso" id='back_2' style="width: 25%" >VOLVER</a>
                            <a href="#" class="boton-paso" id='to_finish' style="width: 30%">CONFIRMAR</a>
                        </div>
                     </div>
                    <div class="footer-paso">
                        <div class="col-md-12">
                            <p class="nota-piedonacion container-fluid">
                                <strong>Por los Jóvenes - Don Bosco</strong>, trabaja por la educacion de chicos, chicas y jóvenes,
                                en especial de quienes viven en situacion de vulnerabilidad, a través de <strong> acciones socioeducativas,
                                sociocomunitarias, formacion para el trabajo y acciones misioneras y pastorales. </strong>
                            </p>
                        </div>
                        <div class="col-md-12">
                            <div class="progress">
                                <div class="progress-bar progress-bar-pjl progress-bar-striped active" style="width:100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block extra_js %}

<script type="text/javascript" src="{% static 'js/donacion.js' %}"></script>




{% endblock %}