{% extends 'base.html' %}
{% load static %}


{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

 {% image self.imagen_encabezado original as img_principal %}
    <div id='fondo_pantalla' class="container " style="width: 100%; display: block;
            background: transparent url('{{ img_principal.url }}') center center no-repeat; background-size: cover;">
        <div class="row wrapper_background">
            <div id='encabezado_responsive' class="container" style="display: none;
                background: transparent url('{{ img_principal.url }}') center center no-repeat; background-size: cover;">
            </div>
            <div class="marco-agradecimiento" id="gracias_fidelizados_modal" >
                <div class="encabezado-agradecimiento">
                    {{ self.encabezado_agradecimiento|richtext}}
                </div>
                <div class="texto-agradecimiento">
                    {{ self.texto_agradecimiento|richtext }}
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block extra_js %}
    <script>
        local_url = window.location.href;
        const tipo_donante = new URLSearchParams(window.location.search)
        console.log('evento:' + '{{self.evento_trackeo}}'
            + ' tipo donante:' + tipo_donante.get('tipo-donante').toString() );
        ga('send', 'event', 'purchase', '{{self.evento_trackeo}}', tipo_donante.get('tipo-donante').toString() );
        fbq('track', 'Donate', '{{self.evento_trackeo}}');
    </script>
{% endblock extra_js %}
