<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Title</title>
</head>
<body>

<form action="http://127.0.0.1:8002/procesar-pago" method="POST">
  <script
    src="https://www.mercadopago.com.ar/integrations/v1/web-tokenize-checkout.js"
    data-public-key="TEST-928e0023-6c5c-408e-bbfe-7dc6a60a9f15"
    data-transaction-amount="100.00">
  </script>
</form>
</body>
</html>