{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
        <section class="section-padding" >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- section title -->
                    <div class="title" >
                        <h3 >DONDE ESTAMOS</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <p style="text-align: justify;"> {{ self.texto_principal|richtext }}</p>
                </div>
            </div>
        </div>
                   <iframe width="100%" height="500" frameborder="0" scrolling="no" style="margin: 2em 0" marginheight="0" marginwidth="0" title="Casas Salesianas" src="https://aeroterra.maps.arcgis.com/apps/Styler/index.html?appid=43f9ca1d08bd465eaf151c0aff887cfe&amp;lat=-38.77620&amp;lon=-58.80880&amp;zoom=5" class="hidden-sm hidden-xs"></iframe>
                   <iframe width="100%" height="1300" frameborder="0" scrolling="no" style="margin: 2em 0" marginheight="0" marginwidth="0" title="Casas Salesianas" src="https://aeroterra.maps.arcgis.com/apps/Styler/index.html?appid=43f9ca1d08bd465eaf151c0aff887cfe&amp;lat=-38.77620&amp;lon=-58.80880&amp;zoom=5" class="hidden-md hidden-lg"></iframe>


    </section>
{%  endblock %}