{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
        <section class="section-padding" >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- section title -->
                    <div class="title" >
                        <h3 >DONDE ESTAMOS</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- Single news -->

                    <p>Desde hace 140 años, Don Bosco está presente en el país a través de sus 131 sedes, las cuales se distribuyen en 82 localidades de 22 provincias.</p>

                    <p></p><p style="margin-bottom: 15px;"><font face="raleway, roboto, arial, serif"><span style="font-size: 16px;">Además, la Obra de Don Bosco se extiende en 136 países de los 5 continentes con 2000 sedes. En cada región las realidades varían, así como las propuestas de Don Bosco, siempre en contacto con las familias locales y ayudando a mejorar la vida diaria en conjunto con las propias comunidades.</span></font></p><p style="margin-bottom: 15px;"><font face="raleway, roboto, arial, serif"><span style="font-size: 16px;">Todas las propuestas son educativas, formativas y permiten acompañar a las poblaciones más desfavorecidas, en especial niños, niñas y jóvenes, desde el sistema preventivo: son las oportunidades que se construyen en el presente las que hacen posible un mejor futuro.</span></font></p><p></p>

                </div>
            </div>
        </div>
                   <iframe width="100%" height="500" frameborder="0" scrolling="no" style="margin: 2em 0" marginheight="0" marginwidth="0" title="Casas Salesianas" src="https://aeroterra.maps.arcgis.com/apps/Styler/index.html?appid=43f9ca1d08bd465eaf151c0aff887cfe&amp;lat=-38.77620&amp;lon=-58.80880&amp;zoom=5" class="hidden-sm hidden-xs"></iframe>
                   <iframe width="100%" height="1300" frameborder="0" scrolling="no" style="margin: 2em 0" marginheight="0" marginwidth="0" title="Casas Salesianas" src="https://aeroterra.maps.arcgis.com/apps/Styler/index.html?appid=43f9ca1d08bd465eaf151c0aff887cfe&amp;lat=-38.77620&amp;lon=-58.80880&amp;zoom=5" class="hidden-md hidden-lg"></iframe>


    </section>
{%  endblock %}