{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block content %}

<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- section title -->
                <div class="title">
                    <h3>QUIENES SOMOS</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <!-- Single news -->
                <p style="text-align: justify;"> {{ self.texto_principal|richtext }}</p>
            </div>
            <div class="col-md-3">
                <a href="{{ self.link_donacion }}">
                    {% image self.imagen_lateral original as img %}
                <img src='{{ img.url }}' style="width: 100%; ">  <!-- Single news -->
                </a>
            </div>
        </div>
    </div>
    {% image self.imagen_principal original as img_principal %}
    <div style="width: 100%; height: 500px; display: block; margin: 2em 0; background: transparent url('{{ img_principal.url }}') center center no-repeat; background-size: cover;"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p style="text-align: justify;">Somos comunicación y somos acción. Buscamos la inclusión social generando oportunidades para todos los jóvenes.</p><p style="text-align: justify;"><br></p><p style="text-align: justify;">Nuestra certeza: <b>¡la educación hace el cambio!</b></p><p style="text-align: justify;"><b><br></b></p><p></p>
            </div>
        </div>
    </div>
</section>
{%  endblock %}