{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
    <section class="section-padding" style="padding-bottom: 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- section title -->
                    <div class="title" >
                        <h3 >TRANSPARENCIA</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- Single news -->
                     <p style="text-align: justify;"> {{ self.texto_principal|richtext }}</p>
               </div>
            </div>
        </div>

    </section>
        <style>
            .embed-container
            { position: relative; padding-bottom:56.25%; height:0; overflow: hidden; max-width: 100%; }
            .embed-container iframe, .embed-container object,
            .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
        </style>
    {% for iframe in self.memoria_balance.all %}

        <div class='embed-container' data-page-width='500' data-page-height='189' id='ypembedcontainer' >
            <iframe src='{{ iframe.memoria_url }}'
                    frameborder="0"
                    allowfullscreen="true"
                    allowtransparency="true">

            </iframe>
        </div>

    {% endfor %}

    <script src='https://players.yumpu.com/modules/embed/yp_r_iframe.js' ></script>
    <!-- ======= blog part end ======= -->


{%  endblock %}