{% load static wagtailuserbar %}
{% load wagtailmetadata_tags %}


<!DOCTYPE html>
<html lang="en" class="js sizes customelements history pointerevents postmessage webgl websockets cssanimations
csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap
csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth
csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside flexbox picture
srcset webworkers">

    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="HB Sistemas">
        <meta property="og:type" content="website" />
        <link rel="shortcut icon" href={% static 'img/favicon.ico' %}>

        {% block meta_data %}
            {% if not request.path_info == '/search/' %}
                {% meta_tags %}
            {% endif %}
        {% endblock meta_data %}
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <!-- ======= titles ======= -->
        <!-- ======= favicon ======= -->
        <link rel="icon" type="image/png" href={% static 'img/favicon.ico' %}>
        <!-- Lato+Raleway Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/porlosjovenes.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %} ">
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %} ">
        <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %} ">
        <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %} ">
        <link rel="stylesheet" type="text/css" href="{% static 'css/hover.css' %} ">
        <link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.min.css' %} ">
        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %} ">
        <link rel="stylesheet" type="text/css" href="{% static 'css/slicknav.min.css' %} ">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %} ">
        <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %} ">
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %} ">
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-84697718-1', 'auto');
            ga('send', 'pageview');
        </script>

        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123301080-1"></script>
            <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-123301080-1');
        </script>

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})
        (window,document,'script','dataLayer','GTM-TKXGLLN');
        </script>
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block header %}
          <!-- top header area -->
            {% include "home/header.html" %}
        {% endblock %}

        {% block content %}

        {% endblock %}

        {% block footer %}
            {% include "home/footer.html" %}

        {% endblock %}

        {# Global javascript #}
        <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.sticky.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/jarallax.min.js' %}"></script>
        <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'js/jquery.barfiller.js' %}"></script>
        <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
        <script src="{% static 'js/isotope.min.js' %}"></script>
        <script src="{% static 'js/lightbox.min.js' %}"></script>
        <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'js/slicknav.min.js' %}"></script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/otros.js' %}"></script>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <script type="text/javascript" src="{% static 'js/porlosjovenes.js' %}"></script>
        <script type="text/javascript">
            $('#mc-embedded-subscribe-form').submit(function(){
                if (! $('#acepto')[0].checked){
                    alert('Por favor confirme que acepta los términos y condiciones.');
                    return false;
                }
            });
            $('document').ready(function(){
                $('.botondonar').click(function(){
                    var cual = $(this).data('form');
                    $('.botondonar').removeClass('seleccion');
                    $(this).addClass('seleccion');

                    $('#frameI, #frameII').hide('fast', function(){
                        if(cual == '2'){ $('#frameII').show('fast'); }
                        if(cual == '1'){ $('#frameI').show('fast');  }
                    });
                });
            });
        </script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
